<div class="app-header">
  <div class="header-container">
    <span class="header-trigger" (click)="toggleCollapse()">
      <nz-icon
        class="trigger"
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      />
    </span>
    <div class="header-action">
      <span class="header-icon">
        <nz-icon class="trigger" nzType="bell" />
      </span>
      <span
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu"
        class="header-icon"
      >
        <nz-icon class="trigger" nzType="user" />
      </span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul class="dropdown-content" nz-menu>
          <li class="dropdown-item" nz-menu-item>
            <nz-icon class="dropdown-icon" nzType="setting" nzTheme="outline" />
            Setting
          </li>
          <li class="dropdown-item" nz-menu-item>
            <nz-icon class="dropdown-icon" nzType="lock" nzTheme="outline" />
            Change password
          </li>
          <li nz-menu-divider></li>
          <li class="dropdown-item" nz-menu-item>
            <nz-icon class="dropdown-icon" nzType="logout" nzTheme="outline" />
            Logout
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</div>
