.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}
.header-container {
  width: 100%;
  padding: 0 24px 0 0;
  display: flex;
  justify-content: space-between;
}

.header-action {
  display: flex;
}
.header-trigger,
.header-icon {
  font-size: 20px;
  cursor: pointer;
  color: #5e5e5e;
  margin-left: 20px;
  margin-right: 20px;
}

.header-trigger {
  display: flex;
  transition: all 0.3s, padding 0s;
}
.trigger {
  &:hover {
    color: #1890ff;
  }
}
.dropdown-item {
  padding: 12px 20px;
  font-size: 16px;
}
.dropdown-icon {
  margin-right: 8px;
}

nz-badge .header-icon {
  padding: 0;
  font-size: 20px;
}

.menu-item-content {
  padding: 4px;
}
