.product-container {
  text-align: end;
}

.btn-add {
  font-size: 14px;
  margin-bottom: 16px;
}

.btn-detail {
  color: #6b6b6b;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}
.action-container {
  display: flex;
  gap: 6px;
}
